.cards > ul {
   display:block;
   list-style: none;
   margin: 0;
   padding: 0; 
   max-width: 300px; 
}

.cards > ul > li {
    display: inline-flex;
    flex-direction: row;
    border: 1px solid var(--highlight-background-color);
    background-color: var(--background-color)
}

.cards .cards-card-body {
    width:70%;
    margin: 10px;
    font-size:  var(--body-font-size-xs);
}

.cards .cards-card-image {
    line-height: 0;
    width: 30%;
}

.cards .cards-card-body > *:first-child {
    margin-top: 0;
}

.cards > ul > li img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}